* {
    box-sizing: border-box;
    background-color: #f185a9;
}

#about {
    padding-bottom: 75px;
}

#home {
    padding-bottom: 210px;
}

nav a {
    color: darkblue;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    background-color: aquamarine;
    margin-left: 15%;
    border: 1px solid yellowgreen;
}

nav a:hover {
    background-color: darkgreen;
    color: rgb(1, 1, 17);
}

nav a.active {
    background-color: darkgray;
    color: white;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #eea8bf;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}